<?xml version="1.0"?>
<model>
  <name>Ascend Drone</name>
  <version>1.0</version>
  <!--
  <sdf version='1.4'>drone.sdf</sdf>
  -->

  <author>
   <name>Rendell Cale</name>
   <email>rendell.cale@ascendntnu.no</email>
  </author>

  <description>
    This is a model of the Ascend 2019 Drone. 
  </description>
</model>
