<!-- Primary launchfile for onboard computers -->
<launch>
  <arg name="px4_addr"/>

  <include file="$(find ascend_utils)/launch/jetson.launch">
    <arg name="namespace" value="$(arg px4_addr)"/>
    <arg name="use_fluid_fsm" value="true"/>
    <arg name="fluid_fsm_fcu_url" value="udp://$(env ROS_IP):14540@$(arg px4_addr):14557"/>
  </include>

  <group ns="$(arg px4_addr)">
    <node name="fluid_fsm_client" pkg="fluid_fsm" type="test_client" output="screen"/>

    <node name="mocap_publisher" pkg="simulator_utils" type="mocap_publisher_node" output="screen">
   </node>
  </group>
</launch>
